Builds_LOCAL/
intermediate/
Builds/MacOSX/build/
max/max-symbolist/build/
*.xcuserstate
*~
*.dylib
*.so
*.dll
.DS_Store
*.zip
*.64xfasl
Doxygen/html/
Builds/MacOSX/symbolist.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Builds/MacOSX/symbolist.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/symbolist.xcodeproj/xcuserdata/iampietro.xcuserdatad/
max/max-symbolist/max-symbolist.xcodeproj/xcuserdata/iampietro.xcuserdatad/
max/max-symbolist/max-symbolist.xcodeproj/project.xcworkspace/xcshareddata/
max/max-symbolist/max-symbolist.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/Index/
max/max-symbolist/Index/
